In [1]:
import string
import re
from nltk import *
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem.snowball import SnowballStemmer as SBS
from nltk.stem.lancaster import LancasterStemmer as LS

In [2]:
import pandas as pd
import numpy as np

In [17]:
sw = stopwords.words('english')
def rmv(s, ls):
    return list((filter(lambda s: s not in ls, s.split())))

##Lemmatization 
def stm(s):
    sb = SBS('english')
    ls_stem = [sb.stem(word) for word in s]
    return ls_stem

def read_sent(path, i):
    sent = []
    for s in open(path + '/' + str(i) +'.txt'):
        s = s.strip('\n')
        if s != '':
            sent.append(s)
    sents = ' '.join(sent)
    punc = '[' + string.punctuation + ']'
    sents = re.sub(punc, '', sents)
    sents = sents.lower()
    sents = rmv(sents, sw)
    sents = stm(sents)
    return ' '.join(sents)
    
read_sent('descriptions_train',768)

'coupl guy eat food coupl men sit tabl pizza two men hold glass bear two pizza two men eat pizza rais glass toast two men hold beer side street'

In [18]:
def to_df(path, I):
    m = []
    for i in range(I):
        m.append(read_sent(path, i))
    return pd.DataFrame(m)
des_train = to_df('descriptions_train', 10000)
des_train.head()

                                                   0
0  skateboard put show use picnic tabl stage skat...
1  bowl soup carrot shrimp noodl healthi food bow...
2  man walk across street busi intersect ice crea...
3  young boy throw frisbe grassi field young boy ...
4  young child yard hold bat boy rare back baseba...

In [19]:
des_test = to_df('descriptions_test', 2000)
des_test.head()

                                                   0
0  woman walk street past doorway woman walk past...
1  larg slice angel food cake sit top plate small...
2  group traffic light sit intersect sign shine s...
3  two mean uniform ride hors side side sandi bea...
4  man woman use pay phone adjac booth adult use ...

#### Read Tags

In [20]:
def read_tag(path, i):
    cate = []
    tag = []
    for t in open(path + '/' + str(i) +'.txt'):
        t = t.strip('\n')
        if t != '':
            t1, t2 = t.split(':')
            cate.append(t1)
            tag.append(t2.split())
    tag = sum(tag, [])
    cate = ' '.join(stm(cate))
    tag = ' '.join(stm(tag))
    return cate, tag
read_tag('tags_test', 107)

('furnitur kitchen kitchen food kitchen electron person',
 'dine tabl fork knife pizza wine glass cell phone person')

In [131]:
cate_all = []
tag_all = []
cate_ls_train = []
tag_ls_train = []

for i in range(10000):
    cate, tag = read_tag('tags_train', i)
    cate_all.append(cate)
    tag_all.append(tag)
    tag_ls_train.append(tag)
    cate_ls_train.append(cate)

In [132]:
tag_train = pd.DataFrame(tag_ls_train)
cate_train = pd.DataFrame(cate_ls_train)

In [133]:
tag_train.head(5)

                                                   0
0  airplan bench skateboard person truck backpack...
1                                  bowl carrot spoon
2                     car truck traffic light person
3                            person bench frisbe car
4                                 person basebal bat

In [134]:
tag_ls_test = []
cate_ls_test = []

for i in range(2000):
    cate, tag = read_tag('tags_test', i)
    tag_ls_test.append(tag)
    cate_ls_test.append(cate)
tag_test = pd.DataFrame(tag_ls_test)
cate_test = pd.DataFrame(cate_ls_test)

In [135]:
cate_train.head(5)

                                                   0
0  vehicl outdoor sport person vehicl accessori a...
1                               kitchen food kitchen
2                       vehicl vehicl outdoor person
3                        person outdoor sport vehicl
4                                       person sport

#### Bag of words

In [136]:
## dictionary

dic_tag = np.array(list(set(' '.join(tag_train[0]).split())))
dic_des = np.array(list(set(' '.join(des_train[0]).split())))
dic_cate = np.array(list(set(' '.join(cate_train[0]).split())))

In [137]:
print('cate: ', len(dic_cate))
print('tag: ', len(dic_tag))
print('des: ', len(dic_des))

cate:  12
tag:  92
des:  6669

In [138]:
def bag(s,dic):
    a = s.split()
    v = np.sum([dic == w for w in a],axis=0)
    if type(v) == np.float64:
        return [0]*len(dic)
    else:
        return v

In [139]:
tag_train['vector'] = tag_train[0].apply(lambda x: bag(x, dic_tag))
tag_test['vector'] = tag_test[0].apply(lambda x: bag(x, dic_tag))
cate_train['vector'] = cate_train[0].apply(lambda x: bag(x, dic_cate))
cate_test['vector'] = cate_test[0].apply(lambda x: bag(x, dic_cate))
des_train['vector'] = des_train[0].apply(lambda x: bag(x, dic_des))
des_test['vector'] = des_test[0].apply(lambda x: bag(x, dic_des))

In [140]:
##tf-idf
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer(smooth_idf = False)

In [141]:
def trans_tfidf(df):
    counts = list(df['vector'])
    tfidf = transformer.fit_transform(counts)
    return tfidf.toarray()

In [142]:
tag_train_tfidf = trans_tfidf(tag_train)
tag_test_tfidf = trans_tfidf(tag_test)
cate_train_tfidf = trans_tfidf(cate_train)
cate_test_tfidf = trans_tfidf(cate_train)
des_train_tfidf = trans_tfidf(des_train)
des_test_tfidf = trans_tfidf(des_train)